<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.jboss.aerogear.cordova.otp"
        version="0.0.1">

  <name>AeroGear OTP</name>
  <description>Generates a one time password</description>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <dependency id="com.phonegap.plugins.barcodescanner" url="https://github.com/wildabeast/BarcodeScanner.git"
              commit="HEAD" />

  <js-module src="www/aerogear-opt.js" name="AeroGear.Totp">
    <clobbers target="cordova.plugins.totp"/>
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <info>
      You need to to run `pod install` to finish the installation
    </info>
    <config-file target="config.xml" parent="/*">
      <feature name="AeroGearPlugin">
        <param name="ios-package" value="CDVAeroGearPlugin"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CDVAeroGearPlugin.h" />
    <source-file src="src/ios/CDVAeroGearPlugin.m"/>
    <asset src="src/ios/Podfile" target="../../Podfile" />
  </platform>

  <!-- android -->
  <platform name="android">

    <source-file src="src/android/org/jboss/aerogear/cordova/android/AeroGearPlugin.java"
                 target-dir="src/org/jboss/aerogear/cordova/android"/>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AeroGearPlugin">
        <param name="android-package" value="org.jboss.aerogear.cordova.android.AeroGearPlugin" />
      </feature>
    </config-file>

    <source-file src="src/android/aerogear-otp-java-1.0.0.jar" target-dir="libs"/>

  </platform>
</plugin>
